body {
  padding: 5%;
}

div {
  div:nth-child(1) {
    background-color: #ffc;
  }
  div:nth-child(2) {
    background-color: #fcf;
  }
  div:nth-child(3) {
    background-color: #ccf;
  }
  div:nth-child(4) {
    background-color: #cfc;
  }
}

.lion {
  box-shadow: 0 0 0 2px red;
  inline-size: 500px;
  block-size: 200px;
  display: flex;
  flex-flow: row nowrap;
  /* 메인축 정렬 */
  /* justify-content: space-evenly; */
  /* 교차축 정렬 */
  align-items: center;
  /* 교차축의 여러줄 정렬 */
  /* align-content: space-evenly; */

  .lion-item {
    /* inline-size: 100px; */
    block-size: 80px;

    flex: 1 1 0;
  }

  .lion-item:nth-child(4) {
    flex-shrink: 2;
  }
}

.frontend {
  box-shadow: 0 0 0 2px green;
  margin-block: 20px;
  inline-size: 500px;
  block-size: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 20px;

  .frontend-item {
    inline-size: 100px;
  }
  .frontend-item:nth-child(1) {
    block-size: 20px;
    font-size: 12px;
    align-self: start;
    order: 9999;
  }
  .frontend-item:nth-child(2) {
    block-size: 40px;
    font-size: 20px;
  }
  .frontend-item:nth-child(3) {
    block-size: 60px;
    font-size: 30px;
  }
  .frontend-item:nth-child(4) {
    block-size: 80px;
    font-size: 40px;
  }
}

.bootcamp {
  box-shadow: 0 0 0 2px green;
  block-size: 200px;
  inline-size: 400px;
  text-align: center;
  align-content: center;
}
