body {
  padding: 5%;
  background-color: #292929;
  color: #fff;
}

@keyframes zoom {
  from {
    width: 100px;
    background-color: #ffc;
  }

  to {
    width: 300px;
    background-color: #ccf;
  }
}

.zoom .target-animation {
  border: 5px solid currentColor;
  padding: 10px;
  inline-size: 100px;
  /* animation-name: zoom;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused; */

  animation: zoom 3s infinite alternate ease-in-out 0.4s forwards paused;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;

  .case {
    padding: 30px 30px 50px 30px;
    border: 2px solid #fff;
    border-radius: 16px;

    strong {
      display: block;
      margin-bottom: 10px;
    }

    .controls {
      margin-bottom: 40px;

      button {
        background-color: #fff;
        padding: 10px 30px;
        font-weight: bold;
        border-radius: 9999px;
      }
    }

    .target-animation {
      border-radius: 4px;
      padding: 1em;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      background-color: rgb(37, 148, 192);
    }
  }
}

/* Fade 애니메이션 */
.container .fade .target-animation {
  animation: fade 1s infinite alternate ease-in-out forwards paused;
}

.container .shrink .target-animation {
  animation: shrink 1s infinite alternate ease-in-out forwards paused;
}

.container .bounce .target-animation {
  animation: bounce 1s infinite alternate ease-in-out forwards paused;
}

.container .shake .target-animation {
  animation: shake 1s infinite alternate ease-in-out forwards paused;
}

.container .spin .target-animation {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(red 0 25%, orange 25% 50%, yellow 50% 75%, green 75% 100%);
  animation: spin 0.4s infinite linear paused;
}

.container .pulse .target-animation {
  animation: pulse 0.4s infinite alternate ease-in-out forwards paused;
}

.container .flip .target-animation {
  animation: flip 1s infinite ease-in-out forwards paused;
}

.container .wobble .target-animation {
  animation: wobble 1s infinite ease-in-out forwards paused;
}

.container .rotateMix .target-animation {
  --rotation: 0deg;

  inline-size: 120px;
  aspect-ratio: 1;
  animation: rotateMix 1s infinite ease-in-out forwards paused;
  position: relative;
  margin: 0 auto;
  background: #fff url('/src/assets/face/face1.jpg') no-repeat;
  background-size: cover;
  border-radius: 50%;

  &::before, &::after{
    content:"";
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    /* background: conic-gradient(from var(--rotation), rgb(255, 65, 65), rgb(243, 243, 93), rgb(98, 255, 98), rgb(57, 57, 255), rgb(255, 65, 65)); */
    background: conic-gradient(from var(--rotation), rgb(255, 159, 175), rgb(255, 149, 110) , rgb(225, 105, 255), rgb(255, 159, 175));
    z-index: -1;
    box-sizing: content-box;
    inline-size: 100%;
    block-size: 100%;
    padding: 2px;
    animation: rotateMix 1s infinite linear paused;
    border-radius: 50%;
  }

  &::before{
    filter: blur(20px);
  }
}