body {
  padding: 3%;
}

.container {
  container-type: inline-size;
}

.card-component {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;

  figure {
    img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
    figcaption {
      text-align: center;
      font-size: 14px;
      color: gray;
      font-style: italic;
      margin-block-start: 5px;
    }
  }

  p {
    line-height: 1.4;
    text-align: justify;
  }

  @container (width >= 480px) {
    flex-direction: row;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .container {
    &:nth-child(n + 5) {
      grid-column: span 2;
    }
  }
}
